.header{
  background-color: black;
}

.header-box{

display: flex;
width: 1392px;
margin-right: auto;
margin-left: auto;
padding-top: 23px;
padding-bottom: 24px;
}

.header-list{
display: flex;
margin-left: 316px;
margin-right: 400px;
gap: 73px;
font-family: Comfortaa;
font-size: 24px;
font-weight: 700;
}

.header-link{
color: #FFF;
text-shadow: 0 0 5px white;
transition: text-shadow 0.3s ease, color 0.3s ease;
}

.header-link:hover{
color: #1869FF;
text-shadow: 0 0 5px #1869FF;
}

.header-Logout{
max-width: 19px;
max-height: 18px;
display: flex;
margin:  auto;
}

/* footer */

.footer{
background: rgba(0, 0, 0, 0.39);
  padding-top: 25px;
  padding-bottom: 29px;
}

.header-box{
width: 1336px;
margin-left: auto;
margin-right: auto;
}

.footer-text{
height: 60px;
color: rgba(255, 255, 255, 0.32);
font-family: Comfortaa;
font-size: 24px;
font-weight: 700;
text-align: center;
}